<head>
 <meta charset="utf-8">
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 <style>
 /*#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
 #sortable li { margin: 0 3px 3px 3px;  font-size: 1.4em; height: 8px; }
 #sortable li span { position: absolute; margin-left: -1.3em; }*/
 .ui-state-highlight { height: 1.5em; line-height: 1.2em; }

 </style>
</head>
<p id="notice"><%= notice %></p>

<!-- <h1>Daily To-Do's</h1> -->


    <ol id='sortable'>
    <% @tasks.each do |task| %>
    <li class="ui-state-default" data-id= "<%= task.id %>">
        <%= task.content %>
        <%= task.due_date %>
        <%= task.position %>

        <%= link_to 'Show', task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>

    </li>

    <% end %>
  </ol>



<!-- <ul id='sortable'>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
</ul> -->

<br>

<button id="submit-button"><%= link_to 'New Task', new_task_path %></button>

<br>


<%# render partial: 'refills/modal' %>
